<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.trivi_rab">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TriviRab"
        tools:targetApi="31">
        <activity
            android:name="com.example.trivi_rab.DisenyActivity"
            android:exported="false" />
        <activity
            android:name="com.example.trivi_rab.CartoonActivity"
            android:exported="false" />
        <activity
            android:name="com.example.trivi_rab.HowToActivity"
            android:exported="false" />
        <activity
            android:name="com.example.trivi_rab.Landing"
            android:exported="false" />
        <activity
            android:name="com.example.trivi_rab.QuestionActivity"
            android:exported="true"
            android:theme="@style/Theme.TriviRab.actionbar" />
        <activity
            android:name="com.example.trivi_rab.resultActivity"
            android:exported="false" />
        <activity
            android:name="com.example.trivi_rab.CatagorieActivity"
            android:exported="false" />
        <activity
            android:name="com.example.trivi_rab.MainActivity2"
            android:exported="false" />
        <activity
            android:name="com.example.trivi_rab.SplashScreen"
            android:exported="false" />
        <activity
            android:name="com.example.trivi_rab.settingsActivity"
            android:exported="false" />
        <activity
            android:name="com.example.trivi_rab.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>